body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 16px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 13px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1F2937;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 10px 32px;
    border-radius: 8px;
    border: 1px;
}

.content h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.content p{
    font-size: 18px;
    color: #E5E7EB;
}